#ACCOUNT-APPROVAL tbody td:nth-of-type(4) {
    border-radius: 0 0.7rem 0.7rem 0;
}

#ACCOUNT-APPROVAL tbody th, #ACCOUNT-APPROVAL tbody td {
    padding: 0.4rem 0.5rem;
}

#ACCOUNT-APPROVAL button {
    border-radius: 1rem;
    height: 2rem;
    padding: 0.2rem 1rem;
    margin-left: 1rem;
    font-weight: 500;
}

#ADMIN-PAGE .accept {
    border: 0;
    background-color: #6EDE8A;
    color: #00432D;
}

#ADMIN-PAGE .decline {
    border: 0;
    background-color: #D00000;
    color: #FFFFFF;
}

#ADMIN-PAGE .accept:hover {
    background-color: #59b971;
}
#ADMIN-PAGE .decline:hover {
    background-color: #ad0000;
}